.elementor-44 .elementor-element.elementor-element-f603ed9>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-f603ed9:not(.elementor-motion-effects-element-type-background),
.elementor-44 .elementor-element.elementor-element-f603ed9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-044b931);
}

.elementor-44 .elementor-element.elementor-element-f603ed9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 99;
}

.elementor-44 .elementor-element.elementor-element-f603ed9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-44 .elementor-element.elementor-element-1f6bd2d .elementor-heading-title {
    font-family: var( --e-global-typography-69c152f-font-family), Sans-serif;
    font-size: var( --e-global-typography-69c152f-font-size);
    font-weight: var( --e-global-typography-69c152f-font-weight);
    line-height: var( --e-global-typography-69c152f-line-height);
    color: var( --e-global-color-text);
}

.elementor-44 .elementor-element.elementor-element-cf26c13>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-44 .elementor-element.elementor-element-2f28fee .elementor-button {
    border-radius: 0px 0px 0px 0px;
}

.elementor-44 .elementor-element.elementor-element-bd7c5fe>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-bd7c5fe {
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
    z-index: 98;
}

.elementor-44 .elementor-element.elementor-element-1a8de31>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-44 .elementor-element.elementor-element-ad0a728>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-44 .elementor-element.elementor-element-c291145 {
    text-align: left;
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-520c191-font-family), Sans-serif;
    font-size: var( --e-global-typography-520c191-font-size);
    font-weight: var( --e-global-typography-520c191-font-weight);
    line-height: var( --e-global-typography-520c191-line-height);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--main .elementor-item:hover,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-cc90579);
    fill: var( --e-global-color-cc90579);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e {
    --e-nav-menu-horizontal-menu-item-margin: calc( 35px / 2);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 35px;
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown a,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-menu-toggle {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-text);
    border-style: solid;
    border-width: 10px 16px 10px 16px;
    border-color: var( --e-global-color-text);
    border-radius: 5px 5px 5px 5px;
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown a:hover,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown a.highlighted,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-menu-toggle:hover {
    color: var( --e-global-color-cc90579);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown a:hover,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-text);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown .elementor-item,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-520c191-font-family), Sans-serif;
    font-size: var( --e-global-typography-520c191-font-size);
    font-weight: var( --e-global-typography-520c191-font-weight);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown a {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: var( --e-global-color-cfa1f76);
    border-bottom-width: 1px;
}

.elementor-44 .elementor-element.elementor-element-87d6a3e div.elementor-menu-toggle {
    color: var( --e-global-color-secondary);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e div.elementor-menu-toggle svg {
    fill: var( --e-global-color-secondary);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e div.elementor-menu-toggle:hover {
    color: var( --e-global-color-secondary);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e div.elementor-menu-toggle:hover svg {
    fill: var( --e-global-color-secondary);
}

.elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-menu-toggle:hover {
    background-color: var( --e-global-color-332724a);
}

.elementor-44 .elementor-element.elementor-element-c89a898 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-44 .elementor-element.elementor-element-c89a898 .elementor-widget-container {
    text-align: right;
}

.elementor-44 .elementor-element.elementor-element-c89a898 .elementor-social-icon {
    background-color: var( --e-global-color-cfa1f76);
}

.elementor-44 .elementor-element.elementor-element-c89a898 .elementor-social-icon i {
    color: var( --e-global-color-secondary);
}

.elementor-44 .elementor-element.elementor-element-c89a898 .elementor-social-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-44 .elementor-element.elementor-element-c89a898 .elementor-social-icon:hover {
    background-color: var( --e-global-color-332724a);
}

.elementor-44 .elementor-element.elementor-element-c89a898 .elementor-social-icon:hover i {
    color: var( --e-global-color-secondary);
}

.elementor-44 .elementor-element.elementor-element-c89a898 .elementor-social-icon:hover svg {
    fill: var( --e-global-color-secondary);
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) {
    .elementor-44 .elementor-element.elementor-element-1f6bd2d .elementor-heading-title {
        font-size: var( --e-global-typography-69c152f-font-size);
        line-height: var( --e-global-typography-69c152f-line-height);
    }
    .elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-520c191-font-size);
        line-height: var( --e-global-typography-520c191-line-height);
    }
    .elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown .elementor-item,
    .elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-520c191-font-size);
    }
    .elementor-44 .elementor-element.elementor-element-87d6a3e {
        --nav-menu-icon-size: 28px;
    }
    .elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-menu-toggle {
        border-radius: 0px;
    }
}

@media(min-width:768px) {
    .elementor-44 .elementor-element.elementor-element-a3fea72 {
        width: 90%;
    }
    .elementor-44 .elementor-element.elementor-element-cf26c13 {
        width: 10%;
    }
    .elementor-44 .elementor-element.elementor-element-1a8de31 {
        width: 85%;
    }
    .elementor-44 .elementor-element.elementor-element-af98ac1 {
        width: 20%;
    }
    .elementor-44 .elementor-element.elementor-element-d0290e1 {
        width: 80%;
    }
    .elementor-44 .elementor-element.elementor-element-f54132b {
        width: 15%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-44 .elementor-element.elementor-element-a3fea72 {
        width: 80%;
    }
    .elementor-44 .elementor-element.elementor-element-cf26c13 {
        width: 20%;
    }
    .elementor-44 .elementor-element.elementor-element-1a8de31 {
        width: 75%;
    }
    .elementor-44 .elementor-element.elementor-element-af98ac1 {
        width: 88%;
    }
    .elementor-44 .elementor-element.elementor-element-d0290e1 {
        width: 12%;
    }
    .elementor-44 .elementor-element.elementor-element-f54132b {
        width: 25%;
    }
}

@media(max-width:767px) {
    .elementor-44 .elementor-element.elementor-element-a3fea72 {
        width: 65%;
    }
    .elementor-44 .elementor-element.elementor-element-1f6bd2d .elementor-heading-title {
        font-size: var( --e-global-typography-69c152f-font-size);
        line-height: var( --e-global-typography-69c152f-line-height);
    }
    .elementor-44 .elementor-element.elementor-element-cf26c13 {
        width: 35%;
    }
    .elementor-44 .elementor-element.elementor-element-af98ac1 {
        width: 80%;
    }
    .elementor-44 .elementor-element.elementor-element-c291145 {
        text-align: right;
    }
    .elementor-44 .elementor-element.elementor-element-c291145 img {
        width: 80%;
    }
    .elementor-44 .elementor-element.elementor-element-d0290e1 {
        width: 20%;
    }
    .elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-520c191-font-size);
        line-height: var( --e-global-typography-520c191-line-height);
    }
    .elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown .elementor-item,
    .elementor-44 .elementor-element.elementor-element-87d6a3e .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-520c191-font-size);
    }
}